USE [zzz_Lending]
GO
/****** Object:  Table [dbo].[zzz_Addresses]    Script Date: 26 Apr 2021 10:06:16 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS(SELECT A.TABLE_NAME FROM zzz_Lending.INFORMATION_SCHEMA.TABLES A WHERE A.TABLE_NAME = 'zzz_Addresses')
BEGIN
DROP TABLE zzz_Lending.dbo.zzz_Addresses
END


CREATE TABLE [dbo].[zzz_Addresses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PREFIX] [varchar](max) NOT NULL,
	[countId]  AS ([PREFIX]+right('00000'+CONVERT([varchar](5),[ID]),(5))) PERSISTED,
	[Country] [varchar](max) NOT NULL,
	[Province] [varchar](max) NOT NULL,
	[Municipality] [varchar](max) NOT NULL,
	[Barangay] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[zzz_Addresses] ON 

INSERT [dbo].[zzz_Addresses] ([ID], [PREFIX], [Country], [Province], [Municipality], [Barangay]) VALUES (1, N'phi', N'Philippines', N'Abra', N'Bangued', N'Agtangao')
INSERT [dbo].[zzz_Addresses] ([ID], [PREFIX], [Country], [Province], [Municipality], [Barangay]) VALUES (2, N'phi', N'Philippines', N'Abra', N'Bangued', N'Angad')
INSERT [dbo].[zzz_Addresses] ([ID], [PREFIX], [Country], [Province], [Municipality], [Barangay]) VALUES (3, N'phi', N'Philippines', N'Abra', N'Bangued', N'Bañacao')
GO
SET IDENTITY_INSERT [dbo].[zzz_Addresses] OFF
GO
